li {
    text-align: center;
    list-style-type: none;
    width: 50%;
    padding: 10px;
    background-color: grey;
    color: black;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
  }